body, html {
	height: 100%;
	width: 100%;
	font-size: 1.1vw;
}

* {
animation-duration: 1s;
animation-fill-mode: both;
animation-name: fadeIn;
}

body::-webkit-scrollbar {
  display: none;
}
@keyframes fadeIn {
0% {opacity: 0;}
100% {opacity: 1;}
}
header { height: 20%; z-index: 10; }
nav { height: 40%; width: 70%; left: 50%; transform: translate(-50%, 0); z-index: 1; }
.dropdown-menu li {z-index: 10; background: #fff;}
.searchMy {
	height: 50%;
}
.searchMy div { height: 100%; padding: 0px; }
.d-flex { width: 70%; position: relative; left: 50%; top: 50%; transform: translate(-50%,-50%); }
.d-flex button { width: 5%; border-width: 1px; margin-right: 0.1%; }
.d-flex input { border-width: 2px; width: 95%; }
.d-flex button svg { width: 100%; height: 100%; margin: 0; padding: 0; }
#info { position: absolute; right: 1%; top: 50%; transform:translate(0, -50%); line-height:20%; }
#info a { color: black; }
main {
	position: relative;
	height: 100%;
	z-index: -10;
}
.message {
	position: relative;
	width: 60%;
	left: 50%;
	transform: translate(-50%,0);
	margin-bottom: 5%;
	-moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: 0;
}

.main svg {
	z-index: 0;
}

.message h3 {
	width: 50%;
	position: relative;
	left: 0.5%;
}

.message .table {
	border: solid 2px white;
	border-collapse: separate;
	border-spacing: 40px 10px;
	text-align: center;
	z-index: 0;
}



#about {
	border: solid 2px white;
	border-collapse: separate;
	border-spacing: 0px 20px;
	text-align: left;
}

#about tbody tr td {
	text-align: left;
	padding-left: 0;
}

.message .table thead tr th{
	width: 25%;
}

.message .table thead tr th svg {
	width: 40%; height: 40%;
   margin: 0; padding: 0;
}

.message .table li {
	border: none;
}

.new {
	position: relative;
	width: 60%;
	left: 50%;
	transform: translate(-50%,0);
}

.switch {
	position: relative;
	width: 60%;
	left: 50%;
	transform: translate(-50%,0);
	height: 5.5%;
	margin-bottom: 2%;
}

.switch button {
	height: 100%;
	width: 5.5%;
	text-align: center;
	float: right;
	margin-left: 2%;
}

.switch button svg {
	width: 100%; height: 100%; margin: 0; padding: 0;
}

#switchUlStyle {
	position: absolute;
	visibility: hidden;
}
#switchGridStyle {
	position: absolute;
	visibility: visible
}

.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
  height: 0px;
}
